//- Diego Alejandro Vega Bohórquez 

extends ../layout

block content
  a(href='/bicicletas') Volver 

  br
  br
  br

  h1 Nueva Bicicleta 

  br
  br

  form(action='/bicicletas/create' method='post' style='width: 300px; margin: 0 auto;')
    label(for='id') ID: 
    input#id(type='text' name='id' style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='color') Color: 
    input#color(type='text' name='color' style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='modelo') Modelo: 
    input#modelo(type='text' name='modelo' style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='lat') Latitud: 
    input#lat(type='text' name='lat' style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='lng') Longitud: 
    input#lng(type='text' name='lng' style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    br
    input.btn(type='submit' value='OK')


