//- Diego Alejandro Vega Bohórquez 

extends ../layout

block content
  a(href='/bicicletas') Volver 

  br
  br
  br

  h1 Actualizando Datos Bicicleta 

  br
  br

  form(action=`/bicicletas/${bici.code}/update` method='post' style='width: 300px; margin: 0 auto;')
    label(for='id') Code: 
    input#id(type='text' name='id' value=bici.code style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='color') Color: 
    input#color(type='text' name='color' value=bici.color style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='modelo') Modelo: 
    input#modelo(type='text' name='modelo' value=bici.modelo style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='lat') Latitud:
    input#lat(type='text' name='lat' value= bici.ubicacion ? bici.ubicacion[0] : '' style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    label(for='lng') Longitud:
    input#lng(type='text' name='lng' value= bici.ubicacion ? bici.ubicacion[1] : '' style='width: calc(100% - 20px); margin-bottom: 10px; padding: 5px;')
    br
    br
    input.btn(type='submit' value='OK')


